*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}

body input:required:valid,
body textarea:required:valid {

}

body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    min-width: 320px;
    position: relative;
}

.hidden {
    display: none;
}

.carousel img {
    width: 100%;
    height: auto;
}

.parallax {
    background-attachment: fixed;
    background-position: 50% 0;
    position: relative;
}

header {
    background-image: url(../img/top_bg.png);
    min-height: 644px;
    background-repeat: repeat-x;
    background-position: top center;
    position: relative;
    font-family: BebasRegular;
    font-weight: bold;
}

.top_line {
    min-height: 100px;
    -webkit-box-shadow: rgba(255, 255, 255, .4) 0 0 0 2px;
    box-shadow: rgba(255, 255, 255, .4) 0 0 0 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, .60);
    padding: 17px 0px;
}

.top_adr {
    background-image: url(../img/top_map.png);
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: center left;
}

.top_adr strong {
    color: red;
    display: block;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 31px;
}

header a {
    color: #fff;
}

.top_adr a {
    font-size: 21px;
    border-bottom: white dashed 1px;

}

.top_line a:hover {
    border-bottom: transparent 1px dashed;
    transition: all .25s;
}

.top_line .logo {
    border-bottom: none !important;
    position: absolute;
    margin-top: 6px;
}

.logo_wrap {
    position: relative;
    margin: auto;
    width: 190px;
}

.ta_right span {
    color: #fff;
}

.ta_right {
    background-image: none;
    text-align: right;
    padding-left: 0;
}

header h1 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-top: 54px;
    text-shadow: rgba(0, 0, 0, .55) 0 2px;
    font-weight: normal;

}

.button {
    display: inline-block;
    height: 50px;
    background-color: red;
    vertical-align: middle;
    line-height: 50px;
    padding: 0 25px;
    font-size: 20px;
    border-bottom: 3px solid darkred;
}
header .button{
    margin-right: 20px;
}
.pr_button{
    line-height: 18px;
    padding-top: 7px;
    padding-left: 61px;
    text-align: left;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
}
.buttons_top{
    position: absolute;
    width: 100%;
    bottom: 32px;
}
.button:hover{
    background-color: #ff5b5a;
}
.button:active{
    background-color: #b40000;
}
.top_menu{
    background: #242424;
    font-family: BebasRegular;
}
.top_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top_menu a{
    color: #fff;
    font-size: 20px;
    padding: 3px 26px 0 48px;
    display: block;
    line-height: 62px;
    text-transform: uppercase;
}
.top_menu li:first-child a{
    background: url(../img/9.png) no-repeat 20px 20px;
}
.top_menu li:nth-child(2) a{
    background: url(../img/10.png) no-repeat 20px 20px;
}
.top_menu li:nth-child(3) a{
    background: url(../img/11.png) no-repeat 28px 22px;
}
.top_menu li:nth-child(4) a{
    background: url(../img/12.png) no-repeat 20px 20px;
}
.top_menu li:nth-child(5) a{
    background: url(../img/13.png) no-repeat 20px 22px;
}
.top_menu li:nth-child(6) a{
    background: url(../img/14.png) no-repeat 24px 16px;
}
.top_menu li:first-child{
    border-left:none;
}
.top_menu li{
    float: left;
    border-left: 1px solid rgba(255, 255, 255, .4) ;

}
.top_menu li.active a,
.top_menu li:hover a {
    background-color: #050505;
}
.waranty{
    text-transform: uppercase;
    color: #fff;
    float: right;
    cursor: default;
    font-size: 15px;
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    padding: 6px 5px 0 5px;
    line-height: 16px;
    margin-top: 9px;
}
.w_left{
    font-weight:bold;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 5px;
}
.w_left,.w_right{
    display: inline-block;
    vertical-align: top;
}
.w_left span{
    font-size: 34px;
}
.main_cats{
    background: #191919;
    padding: 40px 0 30px 0;

}
.main_cats h2{
    color: #c9c9c9;
    text-transform: uppercase;
    text-align: center;
    font-family:BebasRegular;
    font-size: 40px;
}
.main_cats h2 strong{
    color: #fff;
}
.main_cats h2 span{
    color: #d12f22;
}
section h2{
    position: relative;
}
.s_black h2::before{
    content: '';
    position: absolute;
    top: 13px;
    margin-left: -68px;
    width: 50px;
    height: 20px;
    background-image: url(../img/hdr_img1.png);
}
.s_black h2::after{
    content: '';
    position: absolute;
    top: 13px;
    margin-left: 18px;
    width: 50px;
    height: 20px;
    background-image: url(../img/hdr_img2.png);
}